<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Graph Service</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="author"
      content="Jeconias Santos, https://github.com/jeconias"
    />

    <link rel="stylesheet" href="/assets/css/global.css" />
    <script src="https://unpkg.com/gojs/release/go.js"></script>
    <script src="/assets/js/graph.js"></script>
  </head>
  <body>
    <section class="main">
      <div id="diagram-div"></div>
      <div class="side">
        <h3>List of requests between services</h3>
        <ul id="nodeInfos" class="list"></ul>
      </div>
    </section>
  </body>
</html>
